@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main_from{
    height: 700px;
    width: 481px;
    margin: 0 auto;
    box-shadow: 0px 3px 39px grey;
    top: 125px;
    position: relative;
    background-color: white;
}
.center_logo{
    margin: auto;
    display: block;
    text-align: center;
}
.main_from::after{
    position: absolute;
    content: "";
    left: 0;
    height: 40%;
    width: 100%;
    background-color: #1fb4bdd4;
}
.flex_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_group{
    margin: 10px;
}
.form_group input{
    position: relative;
    top: 2px;
    margin-right: 7px !important;
    display: inline-block;
}
.upper_div::after{
    position: absolute;
    content: "";
    top: 30%;
    left: 0;
    height: 26%;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-radius: 135px;
}
.form_img{
    background-image: url(/img/form_Banner.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
}
.form_img form{
    position: absolute;
    top: 17%;
    width: 100%;
    z-index: 9;
}
.form_img form input:focus{
    background-color: rgba(128, 128, 128, 0.151) !important;
    border: none !important;
    transition: all .7s linear;
    border-radius: 8px !important;
    color: black;
    font-family: Poppins;
}
.form_img form input::placeholder{
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
    color: black;
}
.form_img form input{
    border-radius: 0% !important;
    border-bottom: 1px solid black !important;
    border: none;
    padding-left: 35px;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: capitalize;
}
#select_text{
    text-transform: capitalize;
    padding-left: 35px;
    font-family: 'Red Hat Display', sans-serif;
}
.textdes{
    width: 100%;
    margin-top: 14px;
    padding-left: 18px;
}
.textdes:focus{
    outline: none;
}
#file_input{
    border-bottom: 0 !important;
    padding-left: 0 !important;
}
#form_row h3{
    font-family: 'Red Hat Display', sans-serif;
}
#form_row{
    box-shadow: 5px 5px 10px grey;
    width: 431px;
    margin: auto !important;
    padding: 17px;
    border-radius: 20px;
    background: white;
    margin: 0px auto !important;
    height: 515px;
}
.center_logo > .form_logo{
    height: 69px;
    margin: 26px;
}
.form_btns:hover{
    background-color: red;
    transition: all .5s linear;
    color: white;
}
.form_btns{
    border: none;
    outline: none;
    padding: 10px 33px;
    border-radius: 43px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btns_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
.icons_group > img{
    position: relative;
    left: 9px;
    height: 19px;
    top: 28px;
}
@media screen and (max-width:500px) {
    .main_from{
        width: 400px;
    }
    #form_row{
        width: 350px;
    }
    .center_logo > .form_logo{
        height: 50px;
        width: 186px;
        object-fit: fill;
    }
    .form_img{
        background-image: unset !important;
        background-color: red;
    }
}

@media screen and (max-width:400px) {
    .main_from{
        width: 99%;
    }
    #form_row{
        width: 95%
    }
    .form_img form input{
        font-size: 13px;
    }
    .form_btns{
        padding: 10px 15px;
        font-size: 12px;
    }
}