:root{
    overflow-x: clip !important;
}.checkout_top{
    margin-top: 150px;
}

.shop_head{
    font-size: 32px;
    font-family: Poppins;
    letter-spacing: 3px;
    text-align: center;
}
.check_borderr{
    display: block;
    border-top: 1px solid red;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

button.shop_bttn {
      padding: 10px 21px;
      letter-spacing: 5px;
      border-radius: 9px;
      background: #ff2c2c;
      color: white;
      margin: auto;
      display: block;
      width: 100%;
      height: 52px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-size: 20px;
      outline: none;
      padding: 3px 10px;
      border-radius: 6px;
      background-color: red;
      color: white;
      margin-bottom: 10px;
}
.proceed_head{
    font-size: 32px;
    font-family: Poppins;
    letter-spacing: 3px;
    text-align: center;
}

.box-left{
    border-radius: 14px 0 0 0;
    box-shadow: inset 2px 4px 12px grey;
    border: 3px solid red;
    background-color: white;
}
.box-right{
    border-radius: 0 14px 0 0 ;
    box-shadow: inset 2px 4px 12px grey;
    border: 3px solid red;
    background-color: white;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  */
/* FOOD ITEMS CSS*/
.foodport_items{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 19px #80808029;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.foodport_items:hover {
    box-shadow: 5px 5px 19px grey;
    cursor: pointer;
}
.foodport_items > img{
    height: 80px;
    width: 80px;
    border-radius: 9px;
    padding: 5px ;
    object-fit: cover;
    left: 5px;
    position: relative;
    margin: 10px;
}
.foodMain h4.food_title{
    font-size: 18px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: black;
    font-weight: 600;
}
.pricetags{
    padding-bottom: 23px;
}
.foodMain p.food_descriptionsss{
    font-size: 15px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: black;
}
.foodMain{
    display: inline-block;
    position: relative;
    top: 18px ;
    left: 8px;
    padding-left: 6px;
}
.decrement i{

    background: white;
    padding: 10px;
    border-radius: 10px 0;
    box-shadow: 1px 2px 10px grey;
    color: black;
    font-size: 20px;
    font-weight: 600;

}
@media screen and (max-width:1415px){
    .foodMain {
        left: 0px;
        padding-left: 0;
    }
    .foodMain h4.food_title {
        font-size: 15px;
        font-weight: 700;
    }
    .foodMain p.food_descriptionsss {
        font-size: 14px;
        font-weight: 500;
    }
    .pricetags{
        font-size: 15px;
    }
}
@media screen and (max-width:1300px){
    .foodport_items {
        flex-direction: column;
    }
    .foodMain {
        display:unset;
        position: relative;
        top: 18px;
        left: 8px;
        padding-left: 6px;
    }
    .foodport_items > img {
        height: 132px;
        width: 160px;
    }
}

@media screen and (max-width: 769px){
    .foodport_items {
        width: 70%;
        margin: auto;
    }
    .foodport_items > img {
        height: 155px;
        width: 240px;
    }
    .foodMain {
        top: 0;
    }
    .decrement i {
        float: right;
    }
    .checkout_top{
     margin-bottom: 20px;
    }
    .flex_row{
        flex-wrap: unset !important;
    }
    .proceed_head {
        font-size: 15px;
        letter-spacing: 0px;
    }
    button.shop_bttn {
        padding: 7px 20px;
        letter-spacing: 3px;
        font-size: 15px;
    }
    .shop_head {
        font-size: 15px;
        letter-spacing: 0px;
    }
}
@media screen and (max-width: 500px)
{
    .foodport_items {
        width: 100%;
    }
    .flex_row{
        flex-wrap: wrap !important;
    }
    .checkout_top {
        margin-bottom: 116px;
        padding: 0 15px;
    }
    .box-left{
        margin: 20px 0;
    }
    .box-left,.box-right{
        border-radius:0;
        border: 2px solid red;
    }
}

@media screen and (max-width: 300px)
{
    .checkout_top {
        margin-bottom: 219px;
   }
}
