.contact_banner{
    background-image: url(/img/banner_conatct.jpg);
    height: 60vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-clip: border-box;
    background-position: center center;
}
#flex_container {
    display: flex;
    background: #f5f5f5;
    justify-content: space-evenly;
}
#flex_container #rowss{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img_box > img{
    border-radius: 27px 5px 27px 5px;
}
.contact_form label,
.contact_form input,
.contact_form textarea {
    display: block;
    width: 100%;
}
.contact_form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact_form li {
    padding: 0.3em;
}
.contact_form span {
    font-weight: 600;
    color: black;
    line-height: 35px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact_form input[type="submit"] {
    height: 53px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 23px;
    color: white;
    outline: none;
    padding: 3px 10px;
    border-radius: 6px;
    background-color: red;
    margin-bottom: 10px;
}
form.contact_form{
    background-color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.contact_form .required-star {
    color: #fc4366;
}
.inputArea{
    font-weight: 600;
    color: black;
    line-height: 35px;
    font-size: 32px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.inputbar{
    width: 100% !important;
}
.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #e1e2eb;
    background-color: #fff;
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}
@media screen and (max-width: 992px){
    .contact_banner {
        height: 40vh;
        width: 100%;
    }
    .img_box > img {
        height: 325px;
        margin: 60px auto;
        display: block;
    }
}
@media screen and (max-width: 855px){
    .contact_banner {
        background-position: unset;
    }
}
@media screen and (max-width: 855px)
{
    .contact_banner {
        height: 34vh;
    }
}

@media screen and (max-width: 461px)
{
    .contact_banner {
        height: 212px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        top: 72px;
    }
    .img_box > img {
        margin: 26px auto;
        height: auto;
        object-fit: contain;
    }
}