
.main_from{
    height: 700px;
    width: 481px;
    margin: 0 auto;
    box-shadow: 0px 3px 39px grey;
    top: 125px;
    position: relative;
    background-color: white;
}

.main_from::after{
    position: absolute;
    content: "";
    left: 0;
    height: 40%;
    width: 100%;
    background-color: #1fb4bdd4;
}
.upper_div::after{
    position: absolute;
    content: "";
    top: 30%;
    left: 0;
    height: 26%;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-radius: 135px;
}
.form_img{
    background-image: url(/img/form_Banner.jpg);
    background-size: cover;
    position: relative;
    /* top: -117px; */
    height: 100vh;
    background-repeat: no-repeat;
}
.form_img section{
    position: absolute;
    top: 17%;
    width: 100%;
    z-index: 9;
}
.form_img section input:focus{
    background-color: rgba(128, 128, 128, 0.151) !important;
    border: none !important;
    transition: all .7s linear;
    border-radius: 8px !important;
    color: black;
    font-family: Poppins;
}
.form_img section input::placeholder{
    letter-spacing: 1px;
    color: black;
}
.form_img section input{
    border-radius: 0% !important;
    border-bottom: 1px solid black !important;
    border: none;
    padding-left: 35px;
}
.form_row h3{
    font-family: Poppins;
}
.form_row{
    box-shadow: 5px 5px 10px grey;
    width: 431px;
    margin: auto !important;
    padding: 17px;
    border-radius: 20px;
    background: white;
    margin: 27px auto !important;
    height: 459px;
    display: flex;
    justify-content: center;
}
.center_img > img{
    height: 69px;
    margin: auto;
    display: block;
    cursor: EEE;
    margin-top: 26px !important;
}
.form_btns:hover{
    background-color: red;
    transition: all .5s linear;
    color: white;
}
.form_btns{
    font-family: Poppins;
    width: 100%;
    height: 48px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 13px;
    outline: none;
    padding: 3px 10px;
    border-radius: 6px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btns-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
@media screen and (max-width:500px) {
    .main_from{
        width: 400px;
    }
    .form_row{
        width: 350px;
    }
    .center_img > img {
        height: 50px;
        width: 186px;
        object-fit: fill;
    }
    .form_img{
        background-image: unset !important;
        background-color: red;
    }
}

@media screen and (max-width:400px) {
    .main_from{
        width: 95%;
    }
    .form_row{
        width: 90%;
    }
    .form_img section input{
        font-size: 13px;
    }
    .form_btns{
        padding: 10px 15px;
        font-size: 12px;
    }
}

@media screen and (max-width:352px) {
    .main_from{
        width: 99%;
    }
    .form_row{
        width: 95%
    }
}

/* New CSS */
.form_secd{
    height: auto !important;
    position: relative;
    top: -30px;
}
.form{
    height: 727px;
    top: 73px;
}
.center_img {
    position: relative;
    top: -75px;
}
#usertype{
    margin-top: 20px;
    width: 100%;
    height: 47px;
    padding-left: 20px;
    font-family: Poppins;
}
.icons_groups > img{
    position: relative;
    left: 8px;
    height: 19px;
    top: 29px;
}