#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background: rgba(255,255,255);
    align-items: center;
    -webkit-box-shadow: 10px 10px 24px -9px rgba(240,235,240,1);
    -moz-box-shadow: 10px 10px 24px -9px rgba(240,235,240,1);
    box-shadow: 10px 10px 24px -9px rgba(240,235,240,1);

}
.img{
    height: 46px;
    width: 46px;
}
.text{
    font-size: 24px;
    font-weight: 700;
}
.button{
    background: red;
    margin-bottom: 13px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid wheat;
    color: white;
    font-weight: 600;
}
.button:hover{
    color:black;
}
#main_container{
    margin-top: 100px;

}

#order_main{
    margin-top: 100px;
}
.orders_span{
    background-color: antiquewhite;
    border-bottom: 1px solid black;

}
.order_head{
   display: flex;
   flex-direction: row;
   height: 44px;
   padding: 13px;
   background: #d6081b;
}

.order_box{
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 273px;
    width: 100% !important;
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
}
.header_txt {
    font-size: 12px;
    font-weight:700;
    display: flex;
    flex-direction: row;
}
.header_txt h6{
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.header_txt2 h6{
    font-size: 12px;
    font-weight: 700;
}
.header_txt2 p{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: end;
}
.header_txt2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header_txt2 h6{

}

.order_head .header_txt2P{
    float: right;
}
.order_img{
    height: 134px;
    width: 155px;
    margin: 10px;
    height: 134px;
    width: 155px;
    margin: 10px;
    margin-top: 7px;
    -webkit-box-shadow: 10px 10px 5px -10px rgb(0 0 0 / 8%);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
    box-shadow: 10px 10px 5px -10px rgb(0 0 0 / 8%);
    /* margin-left: -15px; */
    border-radius: 15px;
    /* margin-top: -14px; */
    /* margin-left: -15px; */
}

.order_content{
    display: flex;
    padding: 15px;
}
.fromcontent{
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
-moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.08);
}
.order_q{
    display: flex;
    justify-content: space-evenly;
}
.order_q span{
    display: flex;
    border: 1px solid black;
    height: 23px;
    padding: 0px 2px;
    position: relative;
}

.order_q span p{
    font-size: 14px;
    font-weight: 600;
}

.order_q p{
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width:992px) {


}